.no-bullet {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}


/* Timeline */
.timeline {
  position: relative;
}

/* Step */
.step-content {
  background: #f3f4fa;
  padding: 1rem;
}

.step-timeline {
  background: #f3f4fa;
  border-right: .6rem solid white;
}

.step-list {
  padding-top: 1rem;
  padding-left: 2.5rem;
}

.step-list > li::before {
  content: '';
  position: absolute;
  width: .08rem;
  background-color: black;
  top: 0;
  bottom: 0;
  left: -1.2rem;
}

/* Circle */
.step-list > li::after {
  text-align: center;
  padding-top: .7rem;
  z-index: 10;
  content: counter(item);
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: .08rem solid black;
  background-color: #19d895;
  border-radius: 50%;
  top: 0;
  left: -2.6rem;
}

.step-list > li.yellow::after {
  background-color: #ffaf00;
}

.step-list > li.white::after {
  background-color: white;
}

/* Content */
.step-list > li {
  counter-increment: item;
  padding: .8rem 1rem;
  margin-left: 0rem;
  min-height: 70px;
  position: relative;
  list-style: none;
}

.step-list > li:nth-last-child(1)::before {
  width: 0rem;
}
/* End Step */

/* Tooth */
.input-tooth {
  display: none;
}

.label-tooth {
  border: .1rem solid;
  border-radius: 50%;
  cursor: pointer;
}

.label-tooth:hover {
  opacity: 0.5;
}

.img-tooth {
  width: 4rem;
  height: 4rem;
}

.tooth-check {
  border-radius: 50%;
}

.tooth-select {
  background: #2196f3;
  border-radius: 50%;
}

.display-tooth {
  margin: auto;
}

.tooth-disable {
  cursor: not-allowed;
}

.tooth-disable-transparent {
  opacity: 0.5;
}

.tooth-check-group {
  background: #
}

/* End Tooth */

/*
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
*/